.hero {
	position: relative;
    padding-top: 128px;
	padding-bottom: 88px;
	z-index: 0;

	.hero-bg {
		position: absolute;
		top: 0;
		bottom: 33%;
		left: 0;
		right: 0;
		background-image: linear-gradient(45deg, #5E4E8E,#5E4E8E, #96418E);;
		z-index: -2;
	}

	.hero-particles-container {
		position: absolute;
		top: 0;
		bottom: 42%;
		left: 0;
		right: 0;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 720px;
		background-repeat: no-repeat;
	}


}

.hero-inner {
	position: relative;
	z-index: 1;
}

.hero-copy {
    position: relative; /* To display elements above hero illustrations */
	margin-bottom: 48px;
}

@include media( '>medium' ) {

    .hero {
        padding-top: 160px;
		padding-bottom: 128px;

		&::before,
		&::after {
			left: 0;
			width: 100%;
		}

		&::before {
			height: 318px;
			background-size: 100% 318px;
		}

		&::after {
			height: 347px;
			background-size: 100% 347px;
		}
    }

	.hero-copy {
		margin-bottom: 88px;
	}

	.hero-paragraph {
		padding-left: 72px;
		padding-right: 72px;
	}
}
