
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/dist/images/Inter-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('/dist/images/Inter-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Ivar Display';
    font-style: normal;
    font-weight: 400;

    src: local(''),
    url('/dist/images/IvarDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/dist/images/IvarDisplay-Regular.woff') format('woff'); /* Modern Browsers */
}

body {
    font-family: 'Inter';
    font-weight: 400;
}
h1, h2, h3 {
    font-family: 'Ivar Display';
    font-weight: 400;
}

.is-boxed {
    background: color(bg, 1);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

img {
    transition: all 0.2s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}

.hidden {
    opacity: 0;
    transition: all 1s;
}
.show {
    opacity: 1;
}

.iframe {
    width: 500px;
    height: 350px;
    margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
    .iframe {
        width: 300px;
        height: 350px;
    }
}
